@import '~bootstrap/scss/bootstrap';

.end_user_color{
    background-color: blue;
    color: white;
}

.ba-parent {
  position: relative;
  .ba-child {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.best-answer{
  background-color: red;
  color: white;
}