@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.end_user_color{
    color: blue;
}

.ba-parent {
  position: relative;
  .ba-child {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.best-answer{
  background-color: red;
  color: white;
}


body {
  font-family: 'Shippori Mincho', serif;
}

