<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "質問" %>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.title %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>

</table>