// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bg-mori {
  background-image: image-url('mori.jpg');
  background-size: cover;
}

.bg-hana {
 background-image: image-url('hana.jpg');
 background-size: cover;
 background-position: center;
}

.vertical{
  writing-mode: vertical-rl;
}

.sidebar_fixed {
  position: sticky;
  top: 0px;
}

.home {
    background-image: image-url('light.jpg');
    background-position: 50% 75%;
    background-size: cover;
    height: 100vh; /* 全画面表示 */
}
