<div class="d-none d-md-flex flex-column flex-shrink-0 p-3 bg-light sidebar_fixed">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-2 text-dark">PlantSaviour</span>
    </a>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
    <% if end_user_signed_in? %>
        <li class="px-2"><%= link_to 'PROFILE', end_user_path(current_end_user), method: :get, class: 'text-dark' %></li>
        <li class="px-2"><%= link_to 'INDEX', questions_path, method: :get, class: 'text-dark' %></li>
        <li class="px-2"><%= link_to 'POST', new_question_path, class: 'text-dark' %></li>
        <li class="px-2"><%= link_to "LOG OUT", destroy_end_user_session_path, method: :delete, class: 'text-dark' %></li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong class="text-dark">mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
    <% end %>
      </ul>
    </div>
  </div>